@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.login{
  display: flex;
}
.leftpart{
  top: 15em;
  left: 5em;
  position: relative;
  width: 50%;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: 'Open Sans', sans-serif;
}

.leftpart p {
  letter-spacing: 0.3em;
  font-size: 15px;
}

.leftpart h1 {
  margin-top: -30px;
  letter-spacing: 0.2em;
  font-size: 6em;
  color: #010B47;
}
.leftpart h2 {
  margin-top: -80px;
  letter-spacing: 0.2em;
  font-size: 3em;
  color: #011170;
  font-weight: bold;
  font-family:'Montserrat', sans-serif;;
}

.rightpart{
  flex-grow: 1;
  text-align: center;
}