.hahaha {
  background: white;
  height: 100vh;
}

.nodedetails {
  display: block;
  background: white;
}

/* p {
  font-family: "Montserrat", sans-serif;
  padding-left: 100px;
  font-size: 15px;
  color: #080fff;
  text-decoration: none;
} */

.icon {
  position: absolute;
  font-size: 25px;
  margin: 13px 75px;
  color: #080fff;
}

.alert-background {
  background: linear-gradient(
    333deg,
    rgb(255, 146, 146) 0%,
    rgb(255, 81, 81) 55%,
    rgb(254, 2, 2) 100%
  );
}

.alert-background > div {
  color: white !important;
}

.alert-background > span {
  color: white !important;
}

.alert-background > h3 {
  color: white !important;
}
/* .status span {
  color: white;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
} */

.status-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: linear-gradient(
    333deg,
    rgba(85, 255, 242, 1) 0%,
    rgba(69, 159, 255, 1) 55%,
    rgba(2, 95, 254, 1) 100%
  );
  border-radius: 2rem;
  height: 6rem;
  padding: 1rem;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

.status-bar:hover {
  transform: scale(1.03);
}

.patient-details {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  flex-direction: column;
}

.patient-details h1 {
  word-wrap: break-word;
}

.graph {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 30px;
  box-shadow: -5px 5px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -8px 5px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -10px 10px 4px rgba(0, 0, 0, 0.3);
  border: solid 1px rgba(41, 41, 41, 0.3);
  background-color: white;
}

.pat_info {
  display: block;
  width: 60%;
  left: 0;
}
.status {
  height: 100%;
  display: flex;
  align-items: center;
}

.box p {
  color: white;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  left: 0;
  margin-top: 10px;
}

.status span {
  color: white;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.indicator {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  margin: 1rem 1rem 1rem 0rem;
}

.nodename {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nodename p {
  color: #575757;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  padding-left: 0.2rem;
  font-weight: bold;
  margin: 0;
}

.nodename span {
  color: #575757;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  left: 0;
  margin-top: 0;
}

.patient p {
  color: #575757;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-right: 16px;
}

.pat_info h1 {
  color: #575757;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-left: 95px;
  margin-bottom: 5px;
}

.pat_info span {
  font-family: "Montserrat", sans-serif;
  color: #575757;
  font-weight: lighter;
  font-size: 16px;
  margin-left: 100px;
}

#address {
  font-family: "Montserrat", sans-serif;
  color: #575757;
  font-weight: lighter;
  font-size: 16px;
  margin-top: 15;
  margin-left: 0;
}

#address1 {
  font-family: "Montserrat", sans-serif;
  color: #575757;
  font-weight: lighter;
  font-size: 16px;
  margin-top: -10px;
  margin-left: 0;
}

.vitals p {
  color: #080fff;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.vital_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 8rem;
  width: 100%;
  border-radius: 24px;
  box-shadow: -5px 5px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -5px 5px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -5px 5px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.vital_box h3 {
  font-family: "Montserrat", sans-serif;
  color: #575757;
  font-weight: lighter;
  font-size: 15px;
}

.vital_box span {
  font-family: "Montserrat", sans-serif;
  color: #575757;
  font-weight: lighter;
  font-size: 30px;
}

.vital_box:hover > span {
  color: white;
}

.vital_box:hover > h3 {
  color: white;
}

.vital_box:hover {
  background: linear-gradient(
    333deg,
    rgba(85, 255, 242, 1) 0%,
    rgba(69, 159, 255, 1) 55%,
    rgba(2, 95, 254, 1) 100%
  );
  transform: scale(1.03);
  color: white;
}

.map-interpretation {
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1rem;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.3);
}
