.hahaha {
    background: white;
    height: 100vh;
    
}

.nodedetails {
    display: block;
    background: white;
}


p {
    font-family:'Montserrat', sans-serif;
    padding-left:100px;
    font-size: 15px;
    color: #080FFF;
}

.icon {
    position: absolute;
    font-size: 25px;
    margin: 13px 75px;
    color: #080FFF;
}

.nodedetails .status {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    width: 100%;
    border-radius: 30px; 
}

.box {
    display: flex;
    justify-content: space-between;
    width: 80%;
    background: pink;
    border-radius: 30px;
    height: 100px;
}

.patient {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    border-radius: 30px;
    height: 300px;
}

.vitals {
    margin-top: 10px;
    display: block;
    justify-content: space-between;
    width: 80%;
    border-radius: 30px;
    height: 300px;
   
}

.graph {
    margin-top: 10px;
    display: block;
    justify-content: space-between;
    width: 80%;
    height: 100%;
    padding: 10px 10px 10px 10px;
    border-radius: 30px;
    margin-bottom: 100px;
    box-shadow:-5px 5px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow:-8px 5px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:-10px 10px 4px rgba(0, 0, 0, 0.3);
    border: solid 1px rgba(41, 41, 41, 0.3); ;
}

.patient .pat_info {
    display: block;
    width: 60%;
    left: 0;

}
.leftside_status {
    height: 100%;
    top:0;
    margin-top: 0;
    display: flex;
}

.box p {
    color: white;
    font-size: 20px;
    font-family:'Montserrat', sans-serif;
    left: 0;
    margin-top: 10px;
}

.status span {
    color: white;
    font-size: 20px;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
    left: 0;
    margin-left: 10px;
    margin-top: 45px;
}

.indicator {
        position: absolute;
        height: 40px;
        width: 40px;
        background: red;
        border-radius: 50%;
        margin-top: 40px;
        margin-left: 7.5%;
}

.nodename {
    display: flex;
    float: right;
    text-align: right;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
}
.nodename p {
    color: #575757;
    font-size: 16px;
    font-family:'Montserrat', sans-serif;
    margin-right: 16px;
}

.nodename span {
    color: #575757;
    font-size: 5em;
    font-family:'Montserrat', sans-serif;
    font-weight: lighter;
    left: 0;
    margin-top: 0;
}

.patient p {
    color: #575757;
    font-size: 16px;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
    margin-right: 16px;
}

.pat_info h1 {
    color: #575757;
    font-size: 40px;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
    margin-left: 95px;
    margin-bottom: 5px;
}

.pat_info span {
    font-family:'Montserrat', sans-serif;
    color: #575757;
    font-weight: lighter;
    font-size: 16px;
    margin-left: 100px;
}

#address {
    font-family:'Montserrat', sans-serif;
    color: #575757;
    font-weight: lighter;
    font-size: 16px;
    margin-top: 15;
    margin-left: 0;
}

#address1 {
    font-family:'Montserrat', sans-serif;
    color: #575757;
    font-weight: lighter;
    font-size: 16px;
    margin-top: -10px;
    margin-left: 0;
}

.vitals .display {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.vitals p {
    color: #080FFF;
    font-size: 20px;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
}

.display .vital_box {
    display: block;
    text-align: center;
    height: 125px;
    width: 20%;
    border-radius: 24px;
    margin-left: 30px;
    box-shadow:-5px 5px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow:-5px 5px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:-5px 5px 4px rgba(0, 0, 0, 0.3);
}

.vital_box h3 {
    font-family:'Montserrat', sans-serif;
    color: #575757;
    font-weight: lighter;
    font-size: 15px;
}

.vital_box span {
    font-family:'Montserrat', sans-serif;
    color: #575757;
    font-weight: lighter;
    font-size: 30px;
}